@page
@model IndexModel
@{
    ViewData["Title"] = "ICICI Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to API and Microservices</h1>
    <p>Learn about building Web apps with ASP.NET Core and Learn API and MicroServices</a>.</p>
</div>
